
.first_footer{
	margin-bottom: 30px;
    margin-right: 2.564102563%;
    width: 23.076923075%;
}

.second_footer{
	margin-bottom: 30px;
    margin-right: 2.564102563%;
    width: 23.076923075%;
}
.third_footer{
	margin-bottom: 30px;
    margin-right: 2.564102563%;
    width: 23.076923075%;
}
.fourt_footer{
	margin-bottom: 30px;
    margin-right: 2.564102563%;
    width: 23.076923075%;
}
.site-footer{
	min-height: 300px;
}
.mywrapper_footer{
	display: flex;
	
  /*align-items: center;*/
  margin-bottom: 40px;
   font-size: 13px;
    line-height: 22px;
    color: #a7a7a7;
    font-weight: 400;
    font-family: 'PT Sans Caption';


}
.title_footer{
	   font-size: 14px;
    font-weight: 400;
    font-family: 'PT Sans Caption';
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 57px;
    margin-bottom: 20px;
    color: #fff;
    white-space: nowrap;
}

.socials_new{
		display: flex;
	flex-wrap: wrap;
	

}
.custom-logo-link{
	width: 50px;
	height: 50px;
}
.after_main_content_mine{
	background-image: url("assets/img/light_paper_pattern.jpg");
	min-width: 1200px;
}

.site-footer a{
	text-decoration: none!important;
}
.doing_better{
	color: #fff;
}



.fab.fa-viber{
	font-size: 17px;color: #a7a7a7;margin-right: 19px;
	
}

.fab.fa-whatsapp{
font-size: 17px;color: #a7a7a7;margin-right: 19px;
}
.fab.fa-telegram{
font-size: 17px;color: #a7a7a7;margin-right: 19px;
}
.fab.fa-skype{
	font-size: 17px;color: #a7a7a7;
}
.fourt_footer .connect_us{
	margin: 5px 0 7px 0;
}

.copyright_footer{
	display: inline-block;
	font-size: 12px;
  text-align: center;
  
}
.site-footer {
	padding: 1.618em 0 0!important;
}
div.copyright_footer{
display: inline-block;
    margin-left: 20%;
    width: 62%;
    padding: 25px 30px;
    background-color: #404040;
    width: 180%;
    transform: translateX(-35%);
    color: #fff;
}
 

